NODE_ENV=""

# Server
BACKEND_PORT=""
BACKEND_SERVER_URL=""
BACKEND_API_VERSION=""

# Frontend
FRONTEND_PORT=""
FRONTEND_URL=""

# Database
MONGO_URI=""

# JSON Web Token
JWT_SECRET=""
JWT_EXPIRES_IN=""

# Bearer Token
SESSION_TOKEN=""

# Upstash & Redis (For rate limiting)
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""