NODE_ENV=""

# Server
BACKEND_PORT=""
BACKEND_SERVER_URL=""
BACKEND_API_VERSION=""

# Frontend
FRONTEND_PORT=""
FRONTEND_URL=""

# Database
MONGO_URI=""

# JSON Web Token
JWT_SECRET=""
JWT_EXPIRES_IN=""

# Upstash & Redis (For rate limiting)
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

STASH_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n<YOUR OWN PRIVATE KEY WITHOUT THSE COMPARISON BRACKETS>\n-----END PRIVATE KEY-----"
STASH_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n<YOUR OWN PUBLIC KEY WITHOUT THSE COMPARISON BRACKETS>\n-----END PUBLIC KEY-----"
